<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Edit Profile
        </h1>
       
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">Phone</label>
            <input
              type="phone"
              id="phone"
              name="phone"
              class="form-control"
              placeholder="Enter Phone Number"
              value="<%= typeof phone != 'undefined' ? phone : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Profession</label>
            <input
              type="profession"
              id="profession"
              name="profession"
              class="form-control"
              placeholder="Enter Profession"
              value="<%= typeof profession != 'undefined' ? profession : '' %>"
            />
          </div>
          
          <button type="submit" class="btn btn-primary btn-block">
            Edit
          </button>
        </form>
      </div>
    </div>
  </div>